@font-face {
  font-family: 'GoT';
  src: url(/fonts/GoT.ttf);
}

body {
  align-content: stretch;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0px;
}

main {
  align-self: stretch;
  background-image: url("/assets/site/mapblue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex: 4 1 auto;
  flex-wrap: wrap;
  justify-content: space-around;
  order: 0;
  width: 80vh;
}

aside {
  align-items: stretch;
  align-self: stretch;
  background: #555;
  color: #FFF;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  order: 0;
  width: 20vh;
}

.character {
  flex: 0 0 12.5%;
}

.character__portrait {
  display: block;
  margin: auto;
}

.character__portrait--effectonselect {
  filter: grayscale(100%);
}

.character__name {
  font-size: 20px;
  padding: 5px 0px 5px 0px;
  text-align: center;
}

.character__name--effectonselect {
  font-weight: bolder;
}

h1 {
  font-family: 'GoT', Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.bio {
  flex-grow: 1;
}

.bio__picture {
  border-radius: 20px;
  display: block;
  max-width: 100%;
  width: 100%;
}

h2 {
  display: inline-block;
}

.bio__house {
 display: inline;
}

.search {
  display: flex;
  justify-content: center;
}

input {
  background-color: #555;
  border-radius: 10px;
  color: #FFF;
  margin: 0 0 10px 0;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  body {
    margin: 0px;
  }
  
  main {
    background-image: url("/assets/site/mapblue.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  
  aside {
    align-items: stretch;
    background: #555;
    color: #FFF;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
